.container-quienessomos{
    width: 100%;
    padding: 1.5rem 9rem;
    margin: .9rem 0 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media (max-width: 1024px) {
    .container-quienessomos{
        padding: 0 60px;
        margin: 0 0;
        margin-top: 30px;
        margin-bottom: 10%;
        width: 100%;
    }
}

@media (max-width: 834px) {
    .container-quienessomos{
        margin-top: 40px;
    }
}

@media (max-width: 414px) {
    .container-quienessomos{
        flex-direction: column;
        text-align: center;
        margin-top: 10%;
    }
}

.container-img-quienessomos {
    width: 38%;
}

@media (max-width: 414px) {
    .container-img-quienessomos {
        width: 100%;
    }
}

@media (max-width: 834px) {
    .container-img-quienessomos img {
        width: 100%;
        margin-top: 10%;
    }
}

@media (max-width: 414px) {
    .container-img-quienessomos img {
        width: 80%;
        margin-left: 20px;
    }
}

.container-text-quienessomos {
    width: 72%;
    padding: 0 1.5rem;
}

@media (max-width: 1024px) {
    .container-text-quienessomos {
        width: 60%;
        padding: 0 0;
        margin-left: 20px;
    }
}

@media (max-width: 414px) {
    .container-text-quienessomos {
        width: 100%;
        padding: 0 0rem;
    }
}

.container-titulo-quienessomos h2{
    color: #009432;
    font-family: Roboto;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

@media (max-width: 1024px) {
    .container-titulo-quienessomos h2{
        font-size: 40px;
        padding-bottom: 10px;
    }
}

@media (max-width: 414px) {
    .container-titulo-quienessomos h2{
        font-size: 30px;
        padding-bottom: 10px;
    }
}

.container-subtitulo-quienessomos p{
    color: #666;
    /* text-align: justify; */
    font-family: Roboto;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media (max-width: 1024px) {
    .container-subtitulo-quienessomos p{
        font-size: 24px;
    }
}

@media (max-width: 834px) {
    .container-subtitulo-quienessomos p{
        font-size: 20px;
    }
}

@media (max-width: 414px) {
    .container-subtitulo-quienessomos p{
        font-size: 20px;
        padding-bottom: 10px;
    }
}

.button-quienessomos {
    background-color: #ffde59;
    padding: .7rem 1.3rem;
    border: none;
    border-radius: 2.5rem;
    cursor: pointer;
    margin: .5rem 0;
    width: 40%;
    font-size: .9rem;
    font-weight: 600;
}

@media (max-width: 414px) {
    .button-quienessomos {
        width: 253px;
        height: 55px;
        padding: 10px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-size: 18px;
        margin-bottom: 20%;
    }
}

@media (max-width: 414px) {
    .button-quienessomos a {
        font-size: 18px;
        font-weight: 400;
    }
}