.container-quienessomos{
    width: 100%;
    padding: 1.5rem 9rem;
    margin: .9rem 0 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media (max-width: 1024px) {
    .container-quienessomos {
        padding: 10px;
        margin: 25px;
    } 
}

@media (max-width: 834px) {
    .nav-item {
        padding: 10px;
        margin: 20px; 
    }
  }

.container-img-quienessomos {
    width: 38%;
}

@media (max-width: 834px) {
    .container-text-quienessomos {
        margin-left: 10%;
    }
  }



.container-text-quienessomos {
    width: 72%;
    padding: 0 1.5rem;
}

@media (max-width: 834px) {
    .container-text-quienessomos p {
        width: 68%;
    }
  }

.container-titulo-quienessomos h2{
    color: #009432;
    font-family: Roboto;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.container-subtitulo-quienessomos p{
    color: #666;
    /* text-align: justify; */
    font-family: Roboto;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media (max-width: 834px) {
    .container-subtitulo-quienessomos p {
        font-size: 1rem;
    }
  }

.button-quienessomos {
    background-color: #ffde59;
    padding: .7rem 1.3rem;
    border: none;
    border-radius: 2.5rem;
    cursor: pointer;
    margin: .5rem 0;
    width: 40%;
    font-size: .9rem;
    font-weight: 600;
}