.container-equipo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.25rem;
    margin-top: 2rem;
}

@media (max-width: 414px) {
    .container-equipo{
        gap: 0;
    }
}

.container-texto-equipo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.1rem;
}

.container-texto-equipo h2{
    color: #009432;
    text-align: center;
    font-family: Roboto;
    font-size: 2.3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

@media (max-width: 1024px) {
    .container-texto-equipo h2{
        font-size: 40px;
    }
}

@media (max-width: 414px) {
    .container-texto-equipo h2{
        font-size: 32px;
    }
}

.container-texto-equipo p {
    color: #3D4543;
    text-align: center;
    font-family: Roboto;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 0 4rem;
}

@media (max-width: 1024px) {
    .container-texto-equipo p{
        font-size: 24px;
        width: 88%;
    }
}

@media (max-width: 414px) {
    .container-texto-equipo p{
        font-size: 15px;
        padding: 0 10px;
    }
}

.container-integrantes-equipo {
    display: flex;
    gap: 20%;
    justify-content: center;
    margin-bottom: 2%;
}

@media (max-width: 1024px) {
    .container-integrantes-equipo {
        gap: 10%;
        margin-left: 2%;
        margin-right: 2%;
    } 
}

@media (max-width: 414px) {
    .container-integrantes-equipo {
        flex-direction: column;
    } 
}
  
.imagen-deco-equipo {
    width: 100%;
}
