.container-servicios{
    text-align: center;
    background-color: #fff;
}

.img-fondo-container img {
    width: 100%;
}

.container-titulo-servicios h2{
    color:#3D4543;
    text-align: center;
    font-family: Roboto;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.container-subtitulo-servicios h3{
    color:#009432;
    text-align: center;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.container-video-servicios{
    padding: 20px 0;
}

.container-enum-servicios {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 68px 50px;
}