.container-portservicios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.container-intro-portservicios{
    text-align: center;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .55rem;
}

.container-titulo-portservicios h2{
    color: #009432;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem;
}

.container-subtitulo-portservicios h3{
    color: #256D72;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem;
}

.imagen-portservicios {
    display: flex;
    width: 80%;
    height: 195px;
    justify-content: center;
    align-items: center;
}
