/* Estilos para la barra de navegación */
.navbar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: #fff; 
  color: #3c4543; /* Texto negro */
  padding: 0 4rem;
  height: 80px;
  position: fixed;
  box-shadow: 1px 1px 10px #ddd;
  z-index: 1;
}

/* Estilos para el logo */
.navbar-left {
  height: 100%;
  width: 30%;
  display: flex;
  align-items: center;
}

.navbar-right {
  height: 100%;
  width: 70%;
  display: flex;
  align-items: center;
}

/* Estilos para la lista de navegación */
.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 0;
  padding: 0; 
}

/* Estilos para los elementos de la lista */
.nav-item {
  padding: 14px 32px;
  cursor: pointer;
  font-size: 18px;
  position: relative;
  transition: color 0.3s; /* Transición de color al pasar el mouse */
}

/* Cambia el color del texto a verde cuando se pasa el mouse sobre un elemento */
.nav-item:hover {
  background-color: #cbe9d5;
  border-radius: 12px;
  transition: .3s;
}

/* Estilos para los elementos desplegables */
.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #eff0f0;
  color: #333;
  padding: 10px;
  z-index: 1;
}

/* Estilos para las opciones del menú desplegable */
.dropdown li {
  list-style: none;
  padding: 5px 0;
  cursor: pointer;
}

.nav-contact {
  color: #fff;
  background-color: #009432;
  border-radius: 16px;
}

.nav-contact:hover {
  color: #009432;
  transition: .3s;
  font-weight: bold;
}