.video-container {
    width: 100%;
    position: relative;
}

.video-img {
    width: 100%;
    height: 420px;
    object-fit: cover;
    object-position: center top;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.video-presentation-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video-text {
    width: 60%;
    margin-bottom: 1rem;
    padding-left: 5%;
    color:#3C4543;
    font-family: Roboto;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.video-play {
    width: 2rem;
    cursor: pointer;
}
