.container{
    margin: 0;
    padding: 0;
}

.container-contacto {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
}

.img-rectangulo {
    position: relative;
    margin-top: 5rem;
}

@media (max-width: 834px) {
    .img-rectangulo {
        width: 80%;
    } 
  }

.img-vid {
    position: absolute;
    left: 0;
    z-index: 1;
}

@media (max-width: 834px) {
    .img-vid {
        width: 40%;
    } 
  }

.img-logo {
    position: absolute;
    top: 33rem;
    left: 18rem;
    z-index: 1;
}

@media (max-width: 834px) {
    .img-logo {
        width: 20%;
        left: 14rem;
    } 
  }

.right{
    margin-right: 8rem;
    margin-top: 3.6rem;
    width: 18rem;
}

@media (max-width: 834px) {
    .right {
        margin-left: 5%;
    } 
  }

.container-contacto h4 {
    color: #009432;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.7rem; 
}

.texto1 {
    color: #3C4543;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.7rem; 
    margin: 2.5rem 0 .2rem;
}

.texto2 {
    color: #3C4543;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7rem;
    text-decoration-line: underline;
}

.container-redes {
    display: flex;
    width: 12.6rem;
    height: 2rem;
    align-items: flex-start;
    gap: 2.2rem;
    margin-top: 2.5rem;
}

.container-redes a img {
    width: 2rem;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}