.container-misionvision {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    margin: 1rem 0 3rem;
}

.imagen-rectangulo {
    width: 16.5rem;
    height: 21.6rem;
    position: relative;
    margin-top: 10%;
}

@media (max-width: 414px) {
    .imagen-rectangulo {
        width: 160px;
        height: 400px;
    }
}

.imagen-misionvision {
    width: 16.5rem;
    height: 21.6rem;
    position: absolute;
    left: 0;
    z-index: 1;
}

@media (max-width: 414px) {
    .imagen-misionvision {
        width: 160px;
    }
}

.misionvision {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3.3rem;
    width: 100%;
}

@media (max-width: 414px) {
    .misionvision {
        margin-top: 5%;
    }
}

.container-texto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .55rem;
    margin-left: 20%;
}

@media (max-width: 414px) {
    .container-texto {
        gap: 2;
        margin-left: 10%;
    }
}

.container-texto h2 {
    color: #009432;
    font-family: Roboto;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

@media (max-width: 414px) {
    .container-texto h2 {
        font-size: 32px;
    }
}

.container-texto p {
    color: #3D4543;
    padding-right: 2rem;
    font-family: Roboto;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 2%;
}

@media (max-width: 414px) {
    .container-texto p {
        font-size: 15px;
    }
}