.grid-presentacion {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 0 auto;
  background: linear-gradient(to right, #fff 70%, #ccead6 30%);
  padding: 10px;
  text-align: center;
}

.container-presentacion {
  padding: 40px 60px;
}

.container-titulo-presentacion {
  padding: 10px;
}

.container-titulo-presentacion h1 {
  color: #009432;
  font-family: Roboto;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.container-subtitulo-presentacion {
  padding: 10px;
}

.container-subtitulo-presentacion h3 {
  color:#3D4543;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.container-boton-presentacion {
  padding-top: 20px;
  padding-bottom: 60px;
}

.container-boton-presentacion button {
  padding: 14px 26px;
  border-radius: 40px;
  background: #CCEAD6;
  color:  #009432;
  border: none;
  cursor: pointer;
  margin: 10px 0px;
  width: 80%;
  font-size: 18px;
  font-weight: 600;
}

.container-boton-presentacion button:hover {
  background-color: #009432;
  color: #ccead6;
  transform: scale(1.03);
  transition: .3s;
}

.container-imagen-presentacion {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-imagen-presentacion img {
  width: 90%;
}
