.grid-presentacion{
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 0 auto;
  margin-top: 10px;
  background-color: #f6f7bb;
  padding: 10px;
  text-align: center;
}

.container-presentacion{
  padding: 20px;
  background-color: #f6f7bb;
}

.container-titulo-presentacion{
 padding: 10px;
 background-color: #f6f7bb;
}

.container-titulo-presentacion h1{
  font-size: 38px;
  margin: 0; 
  padding-top: 60px;
  padding-bottom: 30px;
  background-color: #f6f7bb;
 }

.container-subtitulo-presentacion{
  background-color: #f6f7bb;
  padding: 10px;
}

.container-subtitulo-presentacion h3{
  background-color: #f6f7bb;
  font-size: 20px;
  font-weight: lighter;
}

.container-boton-presentacion{
  padding-top: 20px;
  background-color: #f6f7bb;
  padding-bottom: 60px;
}

.container-boton-presentacion button{
  padding: 10px 20px; 
  background-color:blueviolet; 
  color: #fff; 
  border: none; 
  border-radius: 50px;
  cursor: pointer;
  margin: 10px 0px;
  width: 80%;
  font-size: 16px;
  font-weight: 600;
}

.container-imagen-presentacion{
  background-color: #f6f7bb;
}