.hamburger-icon {
    height: 100%;
    margin: 0;
    background-color: transparent;
    border: none;
}

.hamburger-icon:active {
    background-color: transparent;
}

.hamburger-icon:focus {
    background-color: transparent;
}

.hamburger-icon:hover {
    background-color: transparent;
}

.hamburger-icon img {
    height: 100%;
}

.nav-responsive {
    width: 20px;
}

.nav-responsive-header {
    background-color: #CCEAD6;
}

.nav-responsive-title {
    color: #000;
    font-size: 20px;
    padding: 0 8px;
}

.nav-responsive-list {
    list-style-type: none;
    padding: 0 10px;
}

.nav-responsive-item {
    padding: 10px 12px;
    border-bottom: 1px solid #ddd;
}

.nav-responsive-item:hover {
    background-color: #009432;
}

.nav-responsive-item:hover a {
    color: #fff;
}

.nav-responsive-item a {
    display: flex;
    font-size: 17px;
    width: 100%;
    height: 100%;
    color: #3c4543;
}
