.container-clientes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.25rem;
    align-self: stretch;
    margin-top: 5%;
}

@media (max-width: 414px) {
  .container-clientes{
    margin-top: 20%;
}
}

@media (max-width: 1024px) {
    .clientes {
      width: 100%;
    }
  }

.container-clientes h2 {
    color: #009432;
    text-align: center;
    font-family: Roboto;
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

@media (max-width: 414px) {
  .container-clientes h2 {
    font-size: 32px;
  }
}

.clientes {
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: space-around;
}

@media (max-width: 414px) {
  .clientes {
    width: 100%;
  }
}

@media (max-width: 414px) {
  .clientes img {
    width: 120px;
  }
}